@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
}

header {
    height: 30vh;
    background-color: #07051E;
    color: white;
    display: flex;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
}

header h1 {
    font-size: 1.20rem;
}

header h2 {
    font-size: 1.75rem;
}

.titulo {
    height: 100%;
    width: 100%;
    padding: 0 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 10px #07051E;
}

main {
    padding: 0 2.5vw;
    background-color: #489990;
}

main section {
    padding-top: 4vh;
}

main h2 {
    font-family: "JetBrains Mono", monospace;
}

main a {
    color: #5D1B25;
    display: flex;
    align-items: center;
    text-decoration: none;
}

main a:hover {
    font-weight: bold;
}

.palestrantes div {
    padding-top: 1.5vh;
}

.data-e-hora {
    padding-bottom: 4vh;
}

footer {
    height: 8vh;
    padding: 2.5vw;
    background-color: #07051E;
    display: flex;
    align-items: center;
    box-shadow: 0 -2px 10px #07051E;
}

footer img {
    height: auto;
    width: 6rem;
}